<form method="post" action="/books/<%=@book.id%>">
    <input type="hidden" name="_method" value="patch" />

    <label for="title">Title:</label>
    <input name="title" value="<%=@book.title%>">
    <br></br>
    <label for="author">Author:</label>
    <input name="author" value="<%=@book.author%>">
    <br></br>
    <label for="genre">Genre:</label>
    <input name="genre" value="<%=@book.genre%>">
    <br></br>
    <label for="status">Status:</label>
    <input name="status" value="<%=@book.status%>">
    <br></br>
    <input type="submit" value="Update Book Information">
</form>
